@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: 'Jua', sans-serif; /*배달의민족 폰트*/
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 모달이 열리면 바깥쪽 색이 어두워지게 */

    /* 중앙정렬(가로,세로) */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 25px 16px;
    border-radius: 4px;
    width: 320px;
}

.modal-title {
    font: bold 24px/1;
}

img {
    width: 100%;
    height: 100%;
}

.close-wrapper {
    text-align: right;
}
